*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
/* This doesn't appear to be doing ANYTHING. */
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* This is the font family and background color for 
everything in the body. */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Alignment, positioning, and color of "Password Generator" 
header at the top. */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* The color, size, shadow, positioning, and font size of 
the "Generate a Password" box.  */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/* The horizontal line underneath the "Generate a Password" 
sub-header. */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* The height of the everything from the read-only text box 
down to the horizontal line above the Generate button. */
.card-body {
  min-height: 3px;
}

/* Alignment of the Generate button. */
.card-footer {
  text-align: center;
}

/* The horizontal line above the Generate button. */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* The bottom of the box underneath the Generte button. */
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* The Generate button (active). */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* The Generate button (inactive). */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* The Copy button (active). */
#copy {
  border: none;
  background-color: hsl(39, 100%, 50%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 22px;
  line-height: 22px;  
  margin-left: auto;
  margin-right: auto;
  padding: 14px 54px;
  text-align: center;
  cursor: pointer;
  display: none;  
}

.float-right {
  float: right;
}

/* The read-only text area. */
#password-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Media queries for other screen sizes.*/
@media (max-width: 690px) {
  .card {
    font-size: 14px;
  }

  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #copy {            
    display: block;    
    font-size: 12px;    
    line-height: 22px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 29px;
  }

  #password-box {
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .card {
    font-size: 18px;
  }

  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #copy {            
    display: block;    
    font-size: 16px;    
    line-height: 22px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
  }

  #password-box {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 414px) {
  .card {
    font-size: 18px;
  }

  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #copy {            
    display: block;    
    font-size: 16px;    
    line-height: 22px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
  }

  #password-box {
    font-size: 1rem;
  }
}

@media (max-width: 393px) {
  header h1 {
    font-size: 30px;
  }

  .card {
    font-size: 16px;
  }

  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #copy {            
    display: block;    
    font-size: 16px;    
    line-height: 22px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
  }
}

@media (max-width: 375px) {
  header h1 {
    font-size: 28px;
  }

  .card {
    font-size: 14px;
  }

  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #copy {            
    display: block;    
    font-size: 16px;    
    line-height: 22px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
  }

  #password-box {
    font-size: 1rem;
  }
}

@media (max-width: 280px) {
  header h1 {
    font-size: 20px;
  }

  .card {
    font-size: 10px;
  }

  #password-box {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #copy {            
    display: block;    
    font-size: 12px;    
    line-height: 22px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
  }  
}